.App {
  max-width: 600px;
  margin: 0 auto;
}

.App a {
  text-decoration: none;
}

.App body {
  background-color: rgb(216, 218, 218);
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  margin-bottom: 60 px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(216, 218, 218);
}

.App footer {
  padding-top: 20px;
  border-top: 1px solid rgb(216, 218, 218);
  text-align: center;
  font-size: 14px;
  color: rgb(158, 158, 158);
}
