.Weather {
  font-family: "Dosis", serif;
}

.Weather h1 {
  font-weight: 800;
  font-size: 60px;
}

.Weather a {
  text-decoration: none;
}

.Weather temperature {
  font-size: 48px;
  font-weight: bold;
}
.Weather .weather-app-details {
  font-size: 18px;
  line-height: 20px;
}
.Weather .app-container {
  background-color: white;
  border-radius: 8px;
  margin-top: 100px;
  padding: 50px;
  box-shadow: 5px 5px 15px rgb(185, 185, 185, 0.8);
}

.Weather .search-form-input {
  background-color: rgb(216, 218, 218);
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: 10px;

  font-size: 20px;
}

.Weather .search-form-button {
  /* change to bootsrap bt blue*/

  color: white;
  padding: 10px 20px;
  background-color: navy;
  border: none;
  border-radius: 5px;

  font-size: 20px;
  margin-left: 5px;
}
.Weather .weather-app-info {
  display: flex;
  justify-content: space-between;
}
.Weather .weather-strong {
  color: rgb(255, 141, 2);
  font-weight: bold;
}
.Weather .temperature {
  display: flex;
  justify-content: snpace-around;
}

.Weather .temperature-all {
  display: flex;
  justify-content: space-around;
}
.Weather .temperature-value {
  font-size: 60px;
  font-weight: 600;
  margin-top: 0;
}
.Weather .temperature-icon {
  height: 70px;
  margin-left: 80px;
}
.Weather .temperature-unit {
  font-size: 20 px;
  font-weight: normal;
  margin-top: 20px;
}
.Weather .weather-forecast-date {
  text-align: center;
}

.Weather .error-message {
  color: brown;
  margin-top: 20px;
  font-size: larger;
  margin-left: 10px;
}
